# Logs
logs
*.log
npm-debug.log*

# Runtime Data
pids
*.pid
*.seed
*.pid.lock

# Dependency Directories
node_modules/

# Optional NPM Cache Directory
.npm

# Output of 'npm pack'
*.tgz

# Deployment Directories
dist/
